<a href="https://colab.research.google.com/github/bitprj/BitU-3WBootCamp/blob/Atul/Week1_Introduction_to_data_and_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <div align="center">Introduction to Data and Python</div>

### Table of Contents (Outline)

- Why, Where, and How we use Python *
- **Intro to Data Science & Programming** (Fab 4 should write these!)
- What we will be learning today
  - Goals
- Numbers
  - Types of Numbers
  - Basic Arithmetic
  - ~~Arithmetic Continued~~
- Variable Assignment *
- Strings
  - Creating Strings *
  - ~~Printing Strings~~
  - String Basics
  - String Properties *
  - Basic Built-In String Methods *
  - ~~Print Formatting~~
  - **1.0 Now Try This**
- Booleans *
- Lists
  - Creating Lists
  - Basic List Methods *
  - Nesting Lists
  - ~~List Comprehensions~~
  - **2.0 Now Try This**
- Tuples
  - Constructing Tuples
  - Basic Tuple Methods
  - Immutability
  - When To Use Tuples
  - **3.0 Now Try This**
- Dictionaries
  - Constructing a Dictionary
  - Nesting With Dictionaries
  - Dictionary Methods
  - **4.0 Now Try This**
- Comparison Operators *
- Functions
  - Intro to Functions *
  - ~~`def` Statements~~
  - Examples *
  - ~~Using `return`~~
  - **5.0 Now Try This**
- ~~Errors and Exception Handling~~
  - ~~`try` and `except`~~
  - ~~`finally`~~
  - ~~**6.0 Now Try This**~~
- Modules and Packages
  - ~~Writing Modules~~
  - ~~Writing Modules with Jupyter~~
  - ~~Writing Scripts~~
  - ~~Running Scripts~~
  - ~~Passing Command Line Arguments~~
  - Understanding Modules
  - Exploring Built-in Modules
  - ~~Writing Packages~~
  - Pipeline for Packages and Modules
- Resources

# KEY:

**Bold** sections need to be added in.

Starred (`*`) sections need to be modified in some way (condensed, reduced, clarified, etc.)

~~Striked~~ sections are planned to be deleted/not included in the rewrite.

## Numbers

### Types of numbers
There are two different kinds of numbers we'll be going over in this course: integers and floats.

Integers are whole numbers, like `3`,`100`,`-2000`.

Floats are numbers with decimals, like `-3.14`,`2.917`,`1.1`.

You can use Python to do basic math with these numbers.

### Basic Arithmetic

Addition

In [ ]:
4+5

Subtraction

In [ ]:
5-10

Multiplication

In [ ]:
4.2*8.3

Division

In [ ]:
25/5

Floor Division

In [ ]:
12//7

1

What floor division does is return the quotient of a division without the remainder.

If you do 12 divided by 7 normally, you would get approximately 1.71. Floor division leaves out the decimals and just takes the integer.

Modulo

In [ ]:
9 % 4

1

Modulo, or mod, returns the remainder of a division.

For example, 4 goes into 9 twice with a remainder of 1.

## Variable Assignments

In programming, you store data in variables. They work exactly the same as the variables you've seen in math classes.

Let's see some examples:

In [ ]:
# Let's create a variable called "a" and assign it to equal the number 10
a = 10

Python will now substitute `a` with `10` whenever we work with that variable.

In [ ]:
# Adding the variables
a+a

Values of variables aren't set in stone. You can change them at any time.

In [ ]:
# Reassignment
a = 20

In [ ]:
# Check
a+a

You don't have to just use numbers when assigning variables. You can even use other variables.

In [ ]:
# Use A to redefine A
a = a+a

In [ ]:
# Check 
a

There are a few rules when picking variable names:



    1. Names can't start with a number. (E.g. 123name)
    2. There can't be any spaces. (E.g. my name)
          - Use underscores instead. (E.g. my_name)
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), or 'I' (uppercase letter eye) as single letter variable names.
    5. Avoid using words that have special meaning in Python like "list" and "str".
    6. Using lowercase names are best practice.

It's important to use meaningful variable names that accurately represent the variable's purpose. Single letter variable names are very easy to write, but can be very confusing when someone else is trying to understand your code.

In [ ]:
# Use variable names to keep better track of what's going on in your code!
income = 1000

tax_rate = 0.2

taxes = income*tax_rate

In [ ]:
# Show the result!
taxes

Now, we will go over the next **data type**: Strings.

## Strings

Strings are a combination of characters. Characters are singular letters, numbers, symbols, etc. 

More specifically, strings are a sequence, a set of things that follow a specific order.

### Creating Strings

To create a string in Python, you must use quotes around your set of characters.

In [ ]:
# A word
'hi'

In [ ]:
# A phrase
'A string can even be a sentence like this.'

In [ ]:
# Using double quotes
"The quote type doesn't really matter."

Both single or double quotes are acceptable, but you have to be consistent.

In [ ]:
# Be wary of contractions and apostrophes!
'I'm using single quotes, but this will create an error'

Use double quotes when dealing with sentences or words that have contractions.

In [ ]:
"This shouldn't cause an error now."

Transition

### String Basics

There are many built-in string **properties** that are useful when handling strings. 

For example, `len()`. This statement allows us to find the length (number of characters) in a string.

In [ ]:
len('Hello World')

Since a string is a data type, we can assign it to a variable just like a number!

In [2]:
# Assign 'Hello World' to mystring variable
mystring = 'Hello World'

In [ ]:
# Did it work?
mystring

To see what is inside a variable, use the `print()` statement.

In [ ]:
# Print the variable mystring to see what is inside of it
print(mystring)

Like we mentioned earlier, strings are an example of a sequence. More specifically, a sequence of characters. 

<font color="red">This means strings are made up of individual elements that can be accessed separately. </font>

To take apart a string and work with individual characters, we use **indexing**. 

Each element of a sequence has an index. These indices are numbers that represent the position of the element in the sequence. For example, in the string `'Hello World'`, the first character, `H` would have an index of 0. Note that in Python, indices start with 0 and not 1.

In [ ]:
# Extract first character in a string.
mystring[0]

In [ ]:
mystring[1]

In [ ]:
mystring[2]

We can use a <code>:</code> to perform ***slicing*** which <font color = "red"> grabs every element up to a specified index. For example: </font>

In [ ]:
# Grab all the letters
mystring[:]

'Hello World'

In [ ]:
# Grab all the letters UP TO the 5th index
mystring[:5]

'Hello'

Note that slicing does not grab the 5th indexed element, the space, above. It stops right before it.

In [ ]:
# This does not change the original string in any way
mystring

'Hello World'

You can also index sequences backwards using negative indeces.

In [ ]:
# Last letter (one index behind 0 so it loops back around)
mystring[-1]

'd'

In [ ]:
# Grab everything but the last letter
mystring[:-1]

'Hello Worl'

You can also skip certain elements within the sequence by changing the **step size**. 
Follow the following format to include step size when dealing with indexing: `samplestring[beginning_index:ending_index:step_size] `

In [ ]:
# Grab everything, but go in steps size of 1
mystring[::1]

In [ ]:
# Grab everything, but go in step sizes of 2
mystring[0::2]

In [ ]:
# A handy way to reverse a string!
mystring[::-1]

**TRANSITION**

### String Properties
It's important to note that strings are ***immutable***. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [ ]:
mystring

In [ ]:
# Let's try to change the first letter
mystring[0] = 'a'

The error tells it to us straight. Strings do not support reassignment.

However, we *can* **concatenate** strings. Concatenation allows us to combine strings.

In [ ]:
mystring

In [ ]:
# Combine strings through concatenation
mystring + ". It's me."

In [ ]:
# We can reassign mystring to a new string value.
mystring = mystring + ". It's me."

In [ ]:
print(mystring)

We already saw how to use len(). This is an example of a built-in way to interact with strings, but there are quite a few more which we will cover next.

### Basic Built-in String Methods

Python has many built-in string **methods**. Some methods allow the user to perform simple alterations to a string.

In [ ]:
mystring

In [ ]:
# Make all letters in a string uppercase
mystring.upper()

In [ ]:
# Make all letters in a string lowercase
mystring.lower()

<font color = "red"> Cover `.split()` ? </font>

<font color = "red" > There are many more methods than the ones covered here. Visit the Advanced String section to find out more! </font>

### 1.0 Now Try This

Given the string `Amsterdam`, write a Python statement that displays the `'d'`. **HINT**: This requires indexing. Enter your code in the cell below:

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/1.py
# Please note that if you uncomment and rub multiple times, the program will keep appending to the file.

s = 'Amsterdam'
# Print out 'd' using indexing
answer1 = # INSERT CODE HERE
print(answer1)

Reverse the string `'Amsterdam'` using slicing:

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/1.py
# Please note that if you uncomment and rub multiple times, the program will keep appending to the file.

s ='Amsterdam'
# Reverse the string using slicing
answer2 = # INSERT CODE HERE
print(answer2)

Given the string `Amsterdam`, display the letter `'m'` using negative indexing.

In [ ]:
# Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/1.py
# Please note that if you uncomment and rub multiple times, the program will keep appending to the file.

s ='Amsterdam'

# Print out the 'm'
answer3 = # INSERT CODE HERE
print(answer3)

## Booleans

Booleans are another example of a data type. They can only be one of two values: `True` or `False`, and are usually the answers to any true/false questions.

In [ ]:
# Booleans can be assigned to variables, just like numbers or strings
a = True

In [ ]:
#Show
a

In math, we would often ask questions in the form of inequalities, i.e "Is 2 greater than 1?". These questions always had True/False answers, and the same holds true in Python. Trying to answer the questions always returns a Boolean value.

In [4]:
# Output is Boolean
1 > 2

False

If we have a variable that we know will hold a Boolean value in the future, we can temporarily assign it a placeholder. In Python, that is `None`.

In [ ]:
# None is a Boolean placeholder
b = None

In [ ]:
# Show
print(b)

**TRANSITION**

## Comparison Operators 

As stated previously, comparison operators allow us to compare variables and output a Boolean value (True or False). 

These operators are the exact same as what you've seen in Math, so there's nothing new here.

First we'll present a table of the comparison operators and then work through some examples:

<h2> Table of Comparison Operators </h2><p>  In the table below, a=9 and b=11.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

Let's now work through quick examples of each of these.

#### Equal

In [ ]:
4 == 4

In [ ]:
1 == 0

Note that <code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

#### Not Equal

In [ ]:
4 != 5

In [ ]:
1 != 1

#### Greater Than

In [ ]:
8 > 3

In [ ]:
1 > 9

#### Less Than

In [ ]:
3 < 8

In [ ]:
7 < 0

#### Greater Than or Equal to

In [ ]:
7 >= 7

In [ ]:
9 >= 4

#### Less than or Equal to

In [ ]:
4 <= 4

In [ ]:
1 <= 3

Hopefully this was more of a review than anything new! Next, we move on to one of the most important aspects of building programs: functions and how to use them.