<a href="https://colab.research.google.com/github/bitprj/BitU-3WBootCamp/blob/main/Week%202%20-%20Working%20with%20Data%20using%20Pandas/Week2_Homework_Student_Version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <div align = "center">Homework 2</div>
# <div align = "center">US Census Data</div>

**Welcome to Homework 2!** 

In this homework you will be using techniques you learned in Week 2. The purpose of this homework is for you to try data manipulation with ```Pandas``` and to express your observations. 

Feel free to refer back to week 2 tutorial notebook and ask questions on Piazza!

### Grading

There are a total of ten questions and each question is worth 1 point.

### Import Library

In [ ]:
import pandas as pd

### Load dataset

In [ ]:
url = 'https://raw.githubusercontent.com/bitprj/DigitalHistory/master/Week3-Introduction-to-Open-Data-Importing-Data-and-Basic-Data-Wrangling/data/acs2017_county_data.csv'
df = pd.read_csv(url)
df

## Homework Questions

### Q1. List out all column names of ```df```. (1 pt)

### Q2. Set ```CountyId``` as an index for ```df```. (1 pt)

Hint: Use ```set_index``` and make changes in place.

### Q3 (a). Get the basic information about `df` using `info()` function. (0.5pt)

### Q3 (b). How many of the columns are numbers? (0.5pt)

### Q4. Select the following columns and save the dataframe as `df`. (1pt)
#### 'State', 'County', 'TotalPop', 'Income', 'Employed', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp', 'WorkAtHome'

### Q5 (a). List out unique state names. (0.5pt)
(Hint: Refer to Analysis of Unique Values section.)

### Q5 (b). How many states are in the dataset? (0.5pt)

### Q6 (a). How many counties are there for each state? (0.5pt)
(Hint: Use `size()` function.)

### Q6 (b). Sort the state by the number of counties in each state. (0.5pt)

### Q6 (c). What are the states with the least county and the most county?

### Q7 (a). Select the rows where ```Unemployment``` is greater than 10. (0.5 pt)

Hint: Use ```df.loc[]```.

#### Code:

### Q7 (b). How many counties have ```Unemployment``` > 10? Type your answer in the Answer section. (0.5 pt)

Hint: Look at how many rows Q3 (a) displays.

#### Answer:

### Q8 (a). Find the state with the largest population. (0.5 pt)

Hint: Use `groupby` function.

#### Code:

### Q8 (b). Select the state with the most population and save the dataframe as `df_largest`. (0.5pt)

Hint: Use ```df.loc[]``` and select the rows where ```State``` is the one you found in Q4.

### Q9 (a). Find out the average income of the state with the largest population `df_largest`. (0.5pt)

### Q9 (b). Select the counties where their income is greater than $60,000 in `df_largest` and save the dataframe as `high_income`. (0.5pt)

### Q10. Find out top 2 most popular means of transportation to work in ```high_income```. (1pt)

Hint: Use the following columns: 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp', 'WorkAtHome' and an AGGREGATE function.

#### Code:

#### Answer: type your answer in a string form.